<div class="container" style="min-width: 780px;">
    <div class="row">
        <div class="col-12">
            <div class="aqua-header"></div>
            <div class="purple-header">
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <p class="text white-font">
                                <span class="button">Home</span>
                                <span class="button">Dashboard</span>
                                <span class="button">Questions</span>
                                <span class="button">Collaborate</span>
                                <span class="button">FAQ</span>
                            </p>
                        </div>
                        <div class="col-2">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>