<div class="container" style="min-width: 780px;">
    <div class="row">
        <div class="col">
            <div class="aqua-header"></div>
            <div class="purple-header">
                <div class="row">
                    <div class="col-10">
                        <div class="top-left-text">
                            <strong>
                                <span class="white-font">Algo</span>
                                <span class="aqua-font">Collab</span>
                            </strong>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="top-right-text">
                            <p>
                                <strong>Login</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="center-content">
                            <div class="center-header">
                                <strong>
                                    <p class="main-title">
                                        <span class="white-font">Algo</span>
                                        <span class="aqua-font">Collab</span>
                                    </p>
                                    <p class="sub-heading">
                                        <span class="white-font">The perfect resource to practice </span>
                                        <span class="aqua-font">algorithms.</span>
                                    </p>
                                    <p class="sub-heading">
                                        <span class="white-font">Collaborate and solve problems with </span>
                                        <span class="aqua-font">friends </span>
                                        <span class="white-font">and </span>
                                        <span class="aqua-font">peers.</span>
                                    </p>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="inline-message"><strong>Welcome to AlgoCollab</strong></p>
        </div>
    </div>
    <div class="row">
        <div class=col-4>
            <div class="card">

            </div>
        </div>
        <div class=col-4>
            <div class="card">
                
            </div>
        </div>
        <div class=col-4>
            <div class="card">
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="inline-message"><strong>Choose from a variety of questions to solve</strong></p>
        </div>
    </div>
</div>