.aqua-header {
    width: 100%;
    height: 300px;
    margin: 15px, 15px, 0px, 15px;
    align-items: center;
    background-color: #43D8C9;
    border-radius: 25px;
}

.purple-header {
    width: 100%;
    height: 300px;
    margin-top: 15px, 15px, 0px, 15px;
    align-items: center;
    background-color: #95389E;
    border-radius: 25px;
    position: relative;
    bottom: 285px;
    right: 15px;
    margin-bottom: -285px;
}

.top-left-text {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 1.8em;
    margin-top:20px;
    margin-left: 20px;
}

.top-right-text {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 1.8em;
    margin-top:20px;
    margin-right:20px;
    float: right;
    color: #F7F7F7;
    cursor: pointer;
}

.top-right-text:hover {
    color: #43D8C9;
}

.center-header {
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: left;
}

.main-title {
    font-size: 5em;
    margin-bottom: 0px;
}

.aqua-font {
    color: #43D8C9;
}

.white-font {
    color:#F7F7F7;
}

.sub-heading {
    font-size: 1.3em;
    margin-bottom: 0px;
}

.inline-message {
    font-size: 1.8em;
    color: black;
    text-align: center;
    width: 100%;
    margin: 1em 0em;
}

.center-content {
    width: 30em;
    margin: auto;
}