<div class="container" style="min-width: 780px;">
    <div class="row">
        <div class="col">
            <div class="aqua-header"></div>
            <div class="purple-header">
                <div class="row">
                    <div class="col-10">
                        <div class="top-left-text">
                            <strong>
                                <span class="white-font">Algo</span>
                                <span class="aqua-font">Collab</span>
                            </strong>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="top-right-text">
                            <p (click)="navigateToDashBoard()">
                                <strong>Login</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="center-content">
                            <div class="center-header">
                                <strong>
                                    <p class="main-title">
                                        <span class="white-font">Algo</span>
                                        <span class="aqua-font">Collab</span>
                                    </p>
                                    <p class="sub-heading">
                                        <span class="white-font">The perfect resource to practice </span>
                                        <span class="aqua-font">algorithms.</span>
                                    </p>
                                    <p class="sub-heading">
                                        <span class="white-font">Collaborate and solve problems with </span>
                                        <span class="aqua-font">friends </span>
                                        <span class="white-font">and </span>
                                        <span class="aqua-font">peers.</span>
                                    </p>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="inline-message">
                <strong>
                    Welcome to AlgoCollab
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class=col-4>
            <app-login-card title="Solve Questions" subtext="Answer Common Interview Questions to Prepare for Interviews!"></app-login-card>
        </div>
        <div class=col-4>
            <app-login-card title="Endless Collaboration" subtext="Practice Algorithm Design Alongside Friends in a Common Code Space!"></app-login-card>
        </div>
        <div class=col-4>
            <app-login-card title="Track Progress" subtext="Keep Track of the Questions You and Your Friends Have Completed!"></app-login-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="inline-message">
                <strong>
                    Choose from a variety of questions to solve
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="inline-message">
                <strong>
                    Work alongside friends in real time where you can view and run each other's code
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="inline-message">
                <strong>
                    Keep track of the questions you and your friends have completed.
                    <br>
                    See if you can out-solve them!
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-footer></app-footer>
        </div>
    </div>
</div>