<div class="container" style="min-width: 780px;">
    <div class="row">
        <div class="col-12">
            <div class="aqua-footer"></div>
            <div class="purple-footer">
                <p class=text>
                    <span class=white-font>
                        © 2021 Algo
                    </span>
                    <span class="aqua-font">
                        Collab
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>